* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
#container {
    border: dashed #ccc 2px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: antiquewhite;
}

#playerForm {
    height: 300px;
    width: 200px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

